/*
    make this code smaller is the next step
*/

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: #f5f2f2;
    display: flex;
    height: 100vh;
    text-align: center;
    justify-content: center;
}

p {
    font-size: 0.8rem;
}

a {
    text-decoration: none;
}

.container-phone {
    align-items: center;
    display: flex;
    height: 90%;
    margin-right: 100px;
}

.container-phone img {
    height: 370px;
    width: 200px;    
}

.container-phone img:hover{
    transform: rotate(18deg);
}

.container-login {
    height: 90%
}

.div-login {
    background-color: #ffffff;
    border: 1px solid #e2dede;
    border-radius: 5px 5px 0 0;
    height: 360px;
    margin-bottom: 5px;
    width: 300px;
}

.div-login h1 {
    font-family: 'Courgette', cursive;
    font-size: 3rem;
    padding: 50px 0;
}

.div-login p {
    padding: 10px 0;
}

.form-control input::placeholder {
    padding-left: 5px;
    font-size: 1rem;
}

.form-control input {
    font-size: 1rem;
    border-radius: 2px;
    border: 1px solid #cecccc;
    margin: 5px 0;
    width: 250px;
    height: 30px;
}

.form-control button {
    background-color: #00a8cc;
    border-radius: 2px;
    box-shadow: none;
    border: none;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 800;
    letter-spacing: 2px;
    height: 30px;
    margin: 5px 0 0 0;
    width: 250px;
}

.form-control button:focus {
    outline: none;
}

.form-control button:hover {
    background-color: #ffffff;
    border: 1px solid #00a8cc;
    color: #00a8cc;
    cursor: pointer;
}

.login-a {
    font-weight: 800;
    color: #375185;
    margin-bottom: 5px;
}

.login-a-small {
    font-weight: 400;
    font-size: 0.8rem;
}

.login-a i {
    padding-right: 5px;
}

.div-login a:visited,
.div-sign-up a:visited {
    color: #375185;
}

.div-sign-up {
    background-color: #ffffff;
    border: 1px solid #e2dede;
    border-radius: 0 0 5px 5px;
    padding: 20px;
}

.div-app p {
    margin: 20px 0;
}

.div-app a {
    background-color: #000000;
    border-radius: 5px;
    color: #ffffff;
    display: inline-block;
    font-size: 0.8rem;
    margin-left: 5px;
    padding: 10px;
    width: 130px;
}

.div-app i {
    padding-right: 5px;
}

.div-app a:hover {
    background-color: #ffffff;
    color: #000000;
}